body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0 auto;
    width: 1280px;    
}
header img {
    border-top: 4px solid #222; 
    width: 1280px;  
}
main {
    margin: -200px auto;
    width: 800px;
    color: #222;
}
h1 {
    padding-left: 50px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;   
}
h1 strong {
    display: block;
    font-size: 72px;
    font-weight: inherit;
}
section {
    padding: 40px 50px 40px 50px;
    font-family: 'Josefin Sans', sans-serif;
}
section.teaser {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.04em;  
}
section.interests {
    border-top: 4px solid #333; 
}
section.detail h2, h3 {
    font-size: 25px;    
}
section.detail h2 {
    margin: 20px 0 25px 0;
    text-transform: uppercase;  
    letter-spacing: 1px; 
}
section.detail article {
    margin-top: 50px;
}
section.detail article h3 {
    line-height: 35px;
    letter-spacing: -0.075em; 
}
section.detail article h3:first-child::first-letter {
    color: red; 
}
section.detail article h3 span.role{
    display: block;
    margin: -0.5em 0;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 15px;
    letter-spacing: 0px;
}
section.detail article p, 
section.detail article li {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.035em; 
}
blockquote {
    margin: 0 0;
    padding: 55px 50px;
    background-color: #333;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 48px;    
    position: relative;
}
blockquote::before {
    position: absolute;
    content: "\201C";
    font-size: 3em;  
    left: 10px;
    top: -30px;
}